extends layout

block content
  h1  LawTalks

  p
  
  form.form-contract
    ul
      li 1
        span.btn-group
          button.btn.btn-cyan next
      li 2
      li 3


  script(type="javascript", src="javascripts/receip.js")
