extends layout

block content
  h1.title  LawTalks

  p

  .panel
    div#demo
      ul(class="wz-nav-off wz-icon-inline wz-classic")
        li(class="five_step bg-law active")
          a(data-toggle="tab" href="#demo-cls-tab1" aria-expanded="true")
            span(class="icon-wrap icon-wrap-xs bg-trans-dark")
              i(class="fa fa-paw") 
            |借款人
        li(class="five_step bg-law")
          a(data-toggle="tab" href="#demo-cls-tab2")
            span(class="icon-wrap icon-wrap-xs bg-trans-dark")
              i(class="fa fa-paw")
            |出借人
        li(class="five_step bg-law")
          a(data-toggle="tab" href="#demo-cls-tab3")
            span(class="icon-wrap icon-wrap-xs bg-trans-dark")
              i(class="fa fa-paw")
            |出借信息
        li(class="five_step bg-law ")
          a(data-toggle="tab" href="#demo-cls-tab4")
            span(class="icon-wrap icon-wrap-xs bg-trans-dark")
              i(class="fa fa-paw")
            |归还信息
        li(class="five_step bg-law")
          a(data-toggle="tab" href="#demo-cls-tab4")
            span(class="icon-wrap icon-wrap-xs bg-trans-dark")
              i(class="fa fa-paw")
            |完成

      div(class="progress progress-sm progress-striped active")
        div(class="progress-bar progress-bar-pink" style="width: 20%;")

      form(class="form-horizontal form-contract")
        div(class="panel-body")
          div(class="tab-content")
            div(id="demo-cls-tab1" class="tab-pane active")
              div(class="form-group")
                label(class="col-lg-3 control-label") 姓名
                div(class="col-lg-7")
                  input(type="text" class="form-control" name="borrower-name" placeholder="借款人姓名")
              div(class="form-group")
                label(class="col-lg-3 control-label") 身份证
                div(class="col-lg-7")
                  input(type="text" class="form-control" name="borrower-identification" placeholder="借款人身份证")
              div(class="form-group")
                label(class="col-lg-3 control-label") 原因
                div(class="col-lg-7")
                  input(type="text" class="form-control" name="borrower-reason" placeholder="借款原因")
            div(id="demo-cls-tab2" class="tab-pane")
              div(class="form-group")
                label(class="col-lg-3 control-label") 姓名
                div(class="col-lg-7")
                  input(type="text" class="form-control" name="lender-name" placeholder="出借人姓名")
              div(class="form-group")
                label(class="col-lg-3 control-label") 身份证
                div(class="col-lg-7")
                  input(type="text" class="form-control" name="lender-identification" placeholder="出借人身份证")
            div(id="demo-cls-tab3" class="tab-pane")
              div(class="form-group")
                label(class="col-lg-3 control-label") 金额
                div(class="col-lg-7")
                  input(type="text" class="form-control" name="lender-property" placeholder="出借金额")
              div(class="form-group")
                label(class="col-lg-3 control-label") 时间
                div(class="col-lg-7")
                  input(type="text" class="form-control" name="lender-month" placeholder="出借月数")
              div(class="form-group")
                label(class="col-lg-3 control-label") 利息
                div(class="col-lg-7")
                  input(type="text" class="form-control" name="lender-interest" placeholder="利息")
            div(id="demo-cls-tab4" class="tab-pane")
              div(class="form-group")
                label(class="col-lg-3 control-label") 日期
                div(class="col-lg-7")
                  input(type="date" class="form-control" name="borrower-date" placeholder="归还的日期")
            div(id="demo-cls-tab5" class="tab-pane tab-finish")
              //- h4 借条
              //- p(class="text-muted")
              //-   |为[借款目的]，今收到[借款人]（身份证号码：[借款人身份证号]）出借予我的现金人民币[借款金额]元，举借期限为[借款其]个月，月利息[利息]%，[2014年**月**日]前归还本金及利息。立此为据。
              //- p(class="text-signature") 借款人：             
              //- p(class="text-signature") 身份证号码：
              //- p(class="text-signature") 签署日期：

        div(class="panel-footer text-right")
          div(class="box-inline") 
            button(type="button" class="previous btn btn-law disabled") 上一步
            button(type="button" class="next btn btn-law") 下一步
            button(type="button" class="finish btn btn-finish" disabled="" style="display: none;") 完成

block script
  script(type="text/javascript", src="javascripts/mustache.js")
  script(id="receipt-template" type="x-tmpl-mustache")
    h4 借条
    p(class="text-content")
      |为{{borrower-reason}}，今收到{{lender-name}}（身份证号码：{{lender-identification}}）
      |出借予我的现金人民币{{lender-property}}元，举借期限为{{lender-month}}个月，月利息{{lender-interest}}%，
      |{{borrower-date}}前归还本金及利息。立此为据。
    p(class="text-signature") 借款人：{{borrower-name}}       
    p(class="text-signature") 身份证号码：{{borrower-identification}}
    p(class="text-signature") 签署日期：{{today}}
  script(type="text/javascript", src="javascripts/receipt.js")
